<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>{{ title }} - GRPCSON</title>
</head>
<body>
<div class="container py-3">
    <nav class="navbar navbar-light bg-light mb-5 border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/grpc.png" alt="" width="50" height="50" class="d-inline-block align-text-middle">
                GRPCSON
            </a>
            <span class="text-muted">{{ brand_title }}</span>
        </div>
    </nav>
    {% block content %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
